.banner{
    background: url("https://getwallpapers.com/wallpaper/full/7/2/f/1221919-vertical-the-best-wallpapers-for-desktop-3840x2160-macbook.jpg")center / cover;
    width: 100%;
    height: 100vh;
}

.portfolio-title{
    width: 80%;
    margin: auto;
    text-align: center;
}

.portfolio-banner{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolio-banner .card{
    margin: 20px;
    border: 1px solid #3f3f3f;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    padding: 10px;
}

.portfolio-banner .card img{
    width: 100%;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    align-items: center;
    position: fixed;
}

.list{
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.list li{
    list-style: none;
}

.list li a{
    color: red;
    text-decoration: none;
    font-size: 18px;
}

.container input{
    border-radius: 30px;
    width: 20%;
    height: 25px;
    border: solid 2px aqua;

}

.icons{
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.icons li{
    list-style: none;
}

.icons li a{
    text-decoration: none;
    font-size: 18px;
}